.about-page {
    margin-top: 65px;
    margin-left: 65px;
}

.about-page-text-wrapper {
    width: 400px;
    background: none;
}

.floated {
    float: none;
    width: 150px;
    background: none;

}

.text {
    float: inherit;
}
